---
layout: page
title: Blog
description: A collection of our research and thought leadership
---

<article class="post-preview">
	<a href="https://www.thelancet.com/journals/lanplh/article/PIIS2542-5196(19)30094-4/fulltext">
		<p class="author">Lewis H. Ziska</p>
		<h2 class="post-title">Combining the effects of increased atmospheric carbon dioxide on protein, iron, and zinc availability and projected climate change on global diets: a modelling study</h2>
	</a>
	<p class="post-meta">Increasing atmospheric concentrations of carbon dioxide (CO2) affect global nutrition via effects on agricultural productivity and nutrient content of food crops. We combined these effects with economic projections to estimate net changes in nutrient availability between 2010 and 2050.
	</p>
	<p class="doi">DOI: 10.1016/S2542-5196(19)30094-4</p>
</article>

<hr>

<article class="post-preview">
	<a href="https://www.tandfonline.com/doi/abs/10.1080/13669877.2018.1459799">
		<p class="author">Kai Ruggeri</p>
		<h2 class="post-title">Nudging intrinsic motivation in environmental risk and social policy</h2>
	</a>
	<p class="post-meta">Public and private institutions implement behavioral insights into policies to manage risks associated with environmental and social challenges. Our research using message framing to leverage intrinsic motivation toward pro-environmental and pro-social behaviors supports that effective risk policies should leverage intrinsic motivation to act sustainably.
	</p>
	<p class="doi">DOI: 10.1080/13669877.2018.1459799</p>
</article>

<hr>

<article class="post-preview">
<div class="image-book"><img src="images/ourdailybread.jpg"></div>
<div class="book">
	<a href="https://www.amazon.com/Agriculture-Climate-Change-Security-Century/dp/1527503143">
		<p class="author">Lewis H. Ziska</p>
		<h2 class="post-title">Agriculture, Climate Change and Food Security in the 21st Century: Our Daily Bread</h2>
	</a>
	<p class="post-meta">This book explores the history of agriculture, and the threat that climate change imposes for all aspects of our daily bread. While these challenges are severe and significant, it argues that we are not without hope, and offers a wide range of solutions, from polyculture farming to feminism that can, when applied, lead to a better future for humankind.
	</p>
</div>
</article>

<hr>

<article class="post-preview">
	<a href="https://journals.sagepub.com/doi/abs/10.1177/1356262215580224">
		<p class="author">Kai Ruggeri</p>
		<h2 class="post-title">A comparison of the methods used to support risk identification for patient safety in one UK NHS foundation trust</h2>
	</a>
	<p class="post-meta">In healthcare, various methods are available to support risk identification in risk management process. However, there is no clear evidence on their contribution to risk identification. Our research supports that in any healthcare setting, having a system to put all risk information in one picture would help maximise the contribution of each method within the scope risk management process.
	</p>
	<p class="doi">DOI: 10.1177/1356262215580224</p>
</article>

<hr>

<article class="post-preview">
	<a href="https://advances.sciencemag.org/content/4/5/eaaq1012">
		<p class="author">Lewis H. Ziska</p>
		<h2 class="post-title">Carbon dioxide (CO2) levels this century will alter the protein, micronutrients, and vitamin content of rice grains with potential health consequences for the poorest rice-dependent countries</h2>
	</a>
	<p class="post-meta">Declines of protein and minerals essential for humans, including iron and zinc, have been reported for crops in response to rising atmospheric carbon dioxide concentration, [CO2].We report for the first time the integrated nutritional impact of those changes (protein, micronutrients, and vitamins) for the 10 countries that consume the most rice as part of their daily caloric supply.
	</p>
	<p class="doi">DOI: 10.1126/sciadv.aaq1012</p>
</article>

<hr>

<article class="post-preview">
<div class="image-book"><img src="images/ruggeribook.jpg"></div>
<div class="book">
	<a href="https://www.amazon.com/Agriculture-Climate-Change-Security-Century/dp/1527503143">
		<p class="author">Kai Ruggeri</p>
		<h2 class="post-title">Behavioral Insights for Public Policy: Concepts and Cases</h2>
	</a>
	<p class="post-meta">Written by a team of authors working across both academia and government, Behavioral Insights for Public Policy is the first textbook to fully examine how psychology can be applied to a range of public policy areas. It addresses a wide variety of topics from the origins of policy as well as major findings from behavioral economics and nudge theory, to large-scale applications of behavioral insights.
	</p>
</div>
</article>

<!-- Home Post List
{% for post in site.posts limit : 5 %}

<article class="post-preview">
	<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
		<h2 class="post-title">{{ post.title }}</h2>
		{% if post.subtitle %}
		<h3 class="post-subtitle">{{ post.subtitle }}</h3>
		{% else %}
		<h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
		{% endif %}
	</a>
	<p class="post-meta">Posted by
		{% if post.author %}
		{{ post.author }}
		{% else %}
		{{ site.author }}
		{% endif %}
		on
		{{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
	</p>
</article>

<hr>

{% endfor %} -->
